@font-face {
    font-family: PTSerif;
    src: url(../css/fonts/PTSerif-Regular.ttf);
}

@font-face {
    font-family: PTSerifItalic;
    src: url(../css/fonts/PTSerif-Italic.ttf);
}

@font-face {
    font-family: PTSerifBold;
    src: url(../css/fonts/PTSerif-Bold.ttf);
}

@font-face {
    font-family: PTSerifBoldItalic;
    src: url(../css/fonts/PTSerif-BoldItalic.ttf);
}